
# Dependency directories
node_modules/

.DS_Store

# Serverless directories
.serverless/

temp/
data/

*.bkp

notebook/

.nyc_output/

analyst/

.vscode/

# Secrets and credentials
.env
.env.*
*.pem
*.key
.aws/
credentials

